label{
    margin-bottom: 10px !important;
}

.col-lg-6 {
    margin-top: 30px !important;
}

.btn-primary {
    color: #0d6efd !important;
    background-color: white !important;
    border-color: #0d6efd !important;
    margin-top: 30px !important;
}
.btn-secondary{
     color: #0d6efd !important;
     background-color: white !important;
     border-color: #0d6efd !important;
    margin-top: 30px!important;
 }
table{
    margin-top: 20px !important;
}
